<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>

</f:view>

<h:body>

    <h:form>
        <p:editor id="editor" widgetVar="editorWidget" value="value" width="600"/>

        <h:panelGrid columns="2" style="margin-top: 10px">
            <p:commandButton value="Submit" update="display" oncomplete="PF('dlg').show()" icon="pi pi-save"/>

            <p:commandButton value="Clear" type="button" onclick="PF('editorWidget').clear();" icon="pi pi-times"/>
        </h:panelGrid>

        <p:dialog header="Content" widgetVar="dlg" showEffect="fade" hideEffect="fade">
            <h:outputText id="display" value="value" escape="false"/>
        </p:dialog>
    </h:form>
</h:body>
</html>
