<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>xhtml Titel lol</title>
</h:head>

<h:body>

    <h1>Webblog</h1> <!--expression language spart sich das "get" aus der StartBean
        Methode -> Exakte Schreibweise der Methode verwenden bis auf das get davor. Klassen udn Methoden
        mit Kleinbuchstaben beginnen-->


    <h:form>
        <h:inputText value="#{postBB.postModel.title}">

        </h:inputText>
        <h:inputText value="#{postBB.postModel.content}">
            <br/>
        </h:inputText>
        <h:commandButton action="#{postBB.createPost}" value="submit post">

        </h:commandButton>
        <h:commandButton action="#{postBB.deleteLastPost}" value="delete last post">

        </h:commandButton>
        <b/>

    </h:form>
    <br/>
    <p:dataTable var="tabellenPost" value="#{postBB.readAll()}">
        <!--expression language setzt standardmäßig ein get davor. Ich muss also die Methode explizit aufrufen ()-->

        <!--// Spalte mit Titel -->
        <p:column headerText="Title">
            <h:outputText value="#{tabellenPost.title}"/>
        </p:column>
        <!--// Spalte mit Inhalt -->
        <p:column headerText="Inhalt">
            <h:outputText value="#{tabellenPost.content}"/>
        </p:column>
        <p:column>
            <h:form>

                <h:commandButton action="#{postBB.deletePost(tabellenPost.id)}" value="#{tabellenPost.id}">
                </h:commandButton>
            </h:form>
        </p:column>
        <p:column>
            <h:form>
                <h:commandButton action="PostHtml" value="Open post">

                </h:commandButton>
            </h:form>
        </p:column>

    </p:dataTable>

    <h:form>

    </h:form>


</h:body>
</html>
